

.logout-button{


  cursor: pointer;
  border-radius: 5em;
  color: #fff;
  background: linear-gradient(to right, #1f4979, #445fa8);
  border: 0;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 10px;
  padding-top: 10px;
  font-family: 'Ubuntu', sans-serif;
  margin-left: 91%;
  margin-right: 50px;
  font-size: 13px;
  box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);

}
.classs{
  background-color: darkorange;
  align-self: center;

}

.logout-button:hover{
  background-color: rgb(43, 255, 0);
}
